body{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header nav ul li{
    list-style: none;
    display: inline;
    margin:15px;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;

}
header{
    text-align: center;
}

header nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;

}